@import './modules/var';

html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    background-color: $main-bg;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

hr{
    padding: 0;
    margin: 0;
}

.container{
    padding: 0 30px;
    margin: 0 auto;
}

.pre-b{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 8;
    overflow-y: hidden;
    top: 0;
    pointer-events: none;
}

.pre-b.open{
    overflow-y: scroll;
    pointer-events: auto;
}

// HEADER
.header{
    background-color: $text-white;
    box-shadow: -2px 1px 20px 0 rgba(#000, 0.03);
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 80px;
    top: 0;
    border-bottom: 1px solid $green;
}

.header__top{
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
}

.burger__openable{
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;

    &:hover{
        .center-line{

            &::after,
            &::before{
                width: 35px;
            }
        }
    }

}

.center-line{
    width: 35px;
    height: 3px;
    background: $black;
    position: absolute;
    transition: .3s all;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;

    &::after,
    &::before{
        content: "";
        position: absolute;
        height: 3px;
        transition: .3s all;
        border-radius: 4px;
    }

    &::after{
        top: -8px;
        background: $black;
        width: 25px;
    }

    &::before{
        top: 8px;
        background: $linear;
        width: 30px;
    }

}

.burger__openable.active{
    .center-line {
        width: 35px;
        transform: translateX(-50%);
        background-color: transparent;
        
        &::after,
        &::before{
            width: 35px;
        }

        &::after{
            transform: rotate(-45deg) translate(8px, 17px);
        }
    
        &::before{
            transform: rotate(45deg) translate(5px, -20px);
        }
        
    }
}

.header__title{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 70px;
    
    h3{
        font-size: 14px;
        color: $black;
        font-weight: 700;
    }
}

.header__op{
    position: absolute;
    right: 0;
    display: flex;
}

.header-btn{
    display: inline-block;
    border: 2px solid $green;
    color: $black;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 0;
    text-align: center;
    width: 120px;
    font-weight: 500;
    background-color: transparent;
    border-radius: 4px;
}

.header__balance-link{
    transition: .4s all;
    margin-right: 10px;

    span{
        font-weight: 700;
    }

    &:hover{
        color: $text-white;
        background-color: $green;
    }
}

.header__cart-link{
    background-color: $green;
    color: $text-white;
}

// SIDEBAR MENU
.burger__menu{
    position: fixed;
    padding-top: 80px;
    width: 300px;
    min-height: 100vh;
    background-color: $text-white;
    border-right: 1px solid $green;
    z-index: 9;
    transform: translateX(-100%);
    transition: .3s all;

    hr {
        background-color: $green;
    }
}

.burger__menu.active{
    position: relative;
    transform: translateX(0);
}

.burger-hr{
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
    border-bottom: 1px solid $green;
}

.burger__menu-link{
    color: $black;
    display: inline-block;
    font-size: 14px;
    margin: 5px 0;
    font-weight: 500;
    line-height: 20px;

    i{
        width: 20px;
    }
}

.green-link{
    color: #578f38;
}

.blur-bg {
    transition: .3s all;
}

.blur-bg.blured{
    filter: blur(1px);
    opacity: .3;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    img{
        width: 180px;
    }
}

// REGISTER
.register__content{
    padding-top: 50px;
    position: relative;
    height: 100vh;
}

.reg-form{
    text-align: center;
    background-color: $text-white;
    color: $black;
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    box-shadow: $shadow;
}

.form__title{
    font-size: 18px;
    font-weight: 500;
    background-color: $green;
    padding: 20px 0;
    color: $text-white;
    margin-bottom: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-input{
    width: 100%;
    margin: 20px 0;
    padding: 16px 10px 3px;
    font-size: 14px;
    display: inline-block;
    border: 1px solid rgba($black, 0.5);
    outline: none;
    border-radius: 5px;
}

.form-group{
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.form-label{
    text-transform: uppercase;
    font-weight: 800;
    color: $black;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
    font-size: 12px;
    cursor: auto;
    transition: .3s all;
}

.form input:focus + .form-label,
.form input:valid + .form-label {
    color: $green;
    font-size: 10px;
    top: 40%;
}

.form-terms{
    font-size: 13px;
    padding-left: 30px;

    &_rules{
        font-weight: 500;
        color: $red;
        text-decoration: underline;
    }

}

.form-btn{
    border: 2px solid $green;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    width: 250px;
    padding: 10px 0;
    border-radius: 4px;
    transition: .3s all;
    margin: 30px 0 35px 0;
    background-color: transparent;

    &:hover{
        background-color: $green;
        color: $text-white;
    }
}

.register__login{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &-text{
        font-size: 15px;
        color: $black;
    }

    &-link{
        color: $red;
        font-weight: 500;
    }
}

.form-checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin-left: 45px;

    &:checked + .form-checkstyle{
        background-image: url('../images/check.svg');
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid rgba($green, 1);
    }
}

.form-checkstyle{
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: -2px;
    background: #F4F7FB;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgba($black, 0.2);
}

.form-group-check{
    position: relative;
    margin-top: 20px;
}

.password-span{
    opacity: 0.7;
    text-transform: none;
    font-size: 11px;
}

.form input:focus + .form-label .password-span,
.form input:valid + .form-label .password-span {
    opacity: 0;
}

.form-error{
    position: absolute;
    bottom: 5px;
    font-size: 10px;
    color: $red;
    font-weight: 500;
    padding-left: 1px;
    display: none;
}


.form input:focus,
.form input:valid {
    border: 1px solid $green;
}

.form ._error,
.form ._error:focus,
.form ._error:valid {
    border: 1px solid $red;
}

.form ._error + .form-label,
.form ._error:focus + .form-label,
.form ._error:valid + .form-label {
    color: $red;
}