<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.svg" th:href="@{/images/logo.svg}" type="image/svg">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Max Up  | Продвижение и накрутка в социальных сетях: SMM маркетинг, сервис PR</title>
    <link rel="stylesheet" href="css/style.min.css" th:href="@{/css/style.min.css}">
    <meta name="description" content="Сервис по накрутке MRPOPULAR предлагает качественное продвижение в социальных сетях. SMM раскрутка по низким ценам."/>
</head>
<body>

    <div class="pre-b" id="pre">
        <div class="burger__menu" id="sidebar">
    
    <div class="burger-hr">
        <a class="lng-home burger__menu-link" href="/index" target="_top"><i class="fas fa-home"></i>Главная</a>
        <a class="lng-socail burger__menu-link" href="/socialnetworks" target="_top"><i class="fas fa-hashtag"></i>Социальные сети</a>
        <a class="lng-rate burger__menu-link" href="/rating" target="_top"><i class="fas fa-hashtag"></i>Рейтинги и отзывы</a>
        
    </div>

    <div class="burger-hr">
        <a class="lng-buck burger__menu-link" href="/cart" target="_top"><i class="fas fa-shopping-cart"></i>Корзина</a>
        <a class="lng-subsc burger__menu-link" href="/subscription" target="_top"><i class="fas fa-sync"></i>Подписки</a>
        <a class="lng-history burger__menu-link" href="/history" target="_top"><i class="fas fa-history"></i>История заказов</a>
        <a class="lng-balance burger__menu-link" href="/addfunds" target="_top"><i class="far fa-credit-card"></i>Пополнить баланс</a>
        <a class="lng-promo burger__menu-link" href="/promocode" target="_top"><i class="fas fa-money-bill-wave"></i>Активировать промокод</a>
    </div>

    <div class="burger-hr">
        <a class="lng-partner burger__menu-link" target="_top" href="/partnership"><i class="fas fa-dollar-sign"></i>Партнерская программа</a>
        <a class="lng-free burger__menu-link" target="_top" href="/getfree"><i class="fas fa-hand-holding-usd"></i>Бесплатное продвижение</a>
    </div>
   
    <div class="burger-hr">
        <a class="lng-help burger__menu-link" target="_top" href="/support"><i class="fas fa-question"></i>Служба поддержки</a>
        <a class="lng-info burger__menu-link" target="_top" href="/info"><i class="far fa-file-alt"></i>Информация</a>
        <a class="lng-feedback burger__menu-link" target="_top" href="/reviews"><i class="far fa-comment-alt"></i>Отзывы</a>    
    </div>
    
    <div class="burger-hr">
        <a class="lng-instr burger__menu-link" target="_top" href="/tools"><i class="fas fa-wrench"></i>Инструменты</a>   
    </div>
    
    <div class="burger-hr">
        <a class="burger__menu-link" target="_top" href="/api"><i class="fas fa-terminal"></i>Public API</a>
        <a class="burger__menu-link" target="_top" href="/resell"><i class="fas fa-terminal"></i>Reseller API</a> 
    </div>
    
    <div class="burger-hr">
        <a class="lng-login burger__menu-link login green-link"><i class="fas fa-sign-in-alt"></i>Вход</a>
        <a class="lng-registr burger__menu-link register green-link"><i class="fas fa-sign-in-alt"></i>Регистрация</a>
    </div>
    
</div>
        <!-- #include virtual="/html/menu-front.html" -->
    </div>
    
    
    <header class="header">
        <div class="container">

        <div class="header__top">

                <div class="burger__openable" id="burger">
                    <div class="center-line"></div>
                </div>

                <div class="lng-home header__title hide1100max">
                    <h3 id="page_title">Главная</h3>
                </div>

<a class="logo" href="/index">
                    <img src="/images/logo.svg" th:href="@{/images/logo.svg}" alt="">
                </a>

            <div class="header__op">

                <div class="header__balance">
                    <a class="lng-balance-rub header__balance-link header-btn" href="/addfunds" target="_top">Баланс: <span>0 грн</span> </a>
                </div>

                <div class="header__cart">
                    <a class="lng-buck header__cart-link header-btn" href="/cart" target="_top">Корзина</a>
                </div>

            </div>

        </div>

    </div>
</header>

    <div class="blur-bg" id="blur">
        
        <div class="product__inner">

                <div class="product__items">

                    <div class="product__item">
                        <div class="product__item-block">
                            <a class="product__item-link" href="/instagram">
                                <img src="./images/service/instagram.svg" th:src = "@{/images/service/instagram.svg}" alt="instagram">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Instagram</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">                                    
                        <div class="product__item-block">
                            <a class="product__item-link" href="/vk">
                                <img src="./images/service/vk.svg" th:src = "@{/images/service/vk.svg}" alt="vk">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Вконтакте</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">                 
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/youtube.svg" th:src = "@{/images/service/youtube.svg}" alt="youtube">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">YouTube</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">                 
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/tt.svg" th:src = "@{/images/service/tt.svg}" alt="tt">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">TT</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">                 
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/facebook.svg" th:src = "@{/images/service/facebook.svg}" alt="facebook">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Facebook</h3>
                                </div>
                            </a>
                        </div>
                    </div>                  

                    <div class="product__item">                 
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/telegram.svg" th:src = "@{/images/service/telegram.svg}" alt="telegram">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Telegram</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">                 
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/twitch.svg" th:src = "@{/images/service/twitch.svg}" alt="twitch">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Twitch</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/twitter.svg" th:src = "@{/images/service/twitter.svg}" alt="twitter">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Twitter</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/soundcloud.svg" th:src = "@{/images/service/soundcloud.svg}" alt="soundcloud">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">SoundCloud</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/ok.svg" th:src = "@{/images/service/ok.svg}" alt="ok">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Одноклассники</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/likee.svg" th:src = "@{/images/service/likee.svg}" alt="likee">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Likee</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/spotify.svg" th:src = "@{/images/service/spotify.svg}" alt="spotify">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Spotify</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/reddit.svg" th:src = "@{/images/service/reddit.svg}" alt="reddit">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Reddit</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/linkedin.svg" th:src = "@{/images/service/linkedin.svg}" alt="linkedin">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">LinkedIn</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/discord.svg" th:src = "@{/images/service/discord.svg}" alt="discord">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Discord</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/clubhouse.svg" th:src = "@{/images/service/clubhouse.svg}" alt="clubhouse">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">ClubHouse</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/medium.svg" th:src = "@{/images/service/medium.svg}" alt="medium">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Medium</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/quora.svg" th:src = "@{/images/service/quora.svg}" alt="quora">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Quora</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/flickr.svg" th:src = "@{/images/service/flickr.svg}" alt="flickr">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Flickr</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/dzen.svg" th:src = "@{/images/service/dzen.svg}" alt="dzen">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Яндекс.Дзен</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/snapchat.svg" th:src = "@{/images/service/snapchat.svg}" alt="snapchat">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Snapchat</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/askfm.svg" th:src = "@{/images/service/askfm.svg}" alt="ask">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Ask.fm</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/tumblr.svg" th:src = "@{/images/service/tumblr.svg}" alt="tumblr">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Tumblr</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/steam.svg" th:src = "@{/images/service/steam.svg}" alt="steam">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Steam</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/google.svg" th:src = "@{/images/service/google.svg}" alt="google">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Google</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/apple.svg" th:src = "@{/images/service/apple.svg}" alt="apple">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Apple</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/yandex.svg" th:src = "@{/images/service/yandex.svg}" alt="yandex">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Yandex</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/website_traffic.svg" th:src = "@{/images/service/website_traffic.svg}" alt="traffic">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Трафик сайта</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/coub.svg" th:src = "@{/images/service/coub.svg}" alt="coub">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Coub</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/vimeo.svg" th:src = "@{/images/service/vimeo.svg}" alt="vimeo">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Vimeo</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/pinterest.svg" th:src = "@{/images/service/pinterest.svg}" alt="pinterest">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Pinterest</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/spreaker.svg" th:src = "@{/images/service/spreaker.svg}" alt="spreaker">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Spreaker</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/shazam.svg" th:src = "@{/images/service/shazam.svg}" alt="shazam">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Shazam</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/datpiff.svg" th:src = "@{/images/service/datpiff.svg}" alt="datpiff">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">DatPiff</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/cian.svg" th:src = "@{/images/service/cian.svg}" alt="cian">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Циан</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/mixcloud.svg" th:src = "@{/images/service/mixcloud.svg}" alt="mixcloud">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Mixcloud</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/imdb.svg" th:src = "@{/images/service/imdb.svg}" alt="idmb">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">IMDB</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/rottentomatoes.svg" th:src = "@{/images/service/rottentomatoes.svg}" alt="rotten">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Rotten Tomatoes</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/metacritic.svg" th:src = "@{/images/service/metacritic.svg}" alt="metacritic">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Metacritic</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/irecommend.svg" th:src = "@{/images/service/irecommend.svg}" alt="irecommend">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">irecommend</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/2gis.svg" th:src = "@{/images/service/2gis.svg}" alt="2gis">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">2Gis</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/tripadvisor.svg" th:src = "@{/images/service/tripadvisor.svg}" alt="tripadvisor">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Tripadvisor</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/yelp.svg" th:src = "@{/images/service/yelp.svg}" alt="yelp">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Yelp</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/stumbleupon.svg" th:src = "@{/images/service/stumbleupon.svg}" alt="stumbleupon">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">StumbleUpon</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/tidal.svg" th:src = "@{/images/service/tidal.svg}" alt="tidal">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Tidal</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/fyuse.svg" th:src = "@{/images/service/fyuse.svg}" alt="fyuse">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Fyuse</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/reverbnation.svg" th:src = "@{/images/service/reverbnation.svg}" alt="reverbnation">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">ReverbNation</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/flipagram.svg" th:src = "@{/images/service/flipagram.svg}" alt="flipagram">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Flipagram</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/delivery_club.svg" th:src = "@{/images/service/delivery_club.svg}" alt="deliveryclub">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Delivery Club</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">   
                        <div class="product__item-block">
                            <a class="product__item-link" href="#">
                                <img src="./images/service/yandex_eda.svg" th:src = "@{/images/service/yandex_eda.svg}" alt="yandexfood">
                                <div class="item__overlay">
                                    <h3 class="item__overlay-title">Яндекс.Еда</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

        </div>

    </div>

<script src="js/script.min.js"></script>
</body>
</html>