<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.svg" th:href="@{/images/logo.svg}" type="image/svg">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Max Up  | Продвижение и накрутка в социальных сетях: SMM маркетинг, сервис PR</title>
    <link rel="stylesheet" href="css/style.min.css" th:href="@{/css/style.min.css}">
    <meta name="description" content="Сервис по накрутке MRPOPULAR предлагает качественное продвижение в социальных сетях. SMM раскрутка по низким ценам."/>
</head>
<body>

    <div class="pre-b" id="pre">
        <div class="burger__menu" id="sidebar">
    
    <div class="burger-hr">
        <a class="lng-home burger__menu-link" href="/index" target="_top"><i class="fas fa-home"></i>Главная</a>
        <a class="lng-socail burger__menu-link" href="/socialnetworks" target="_top"><i class="fas fa-hashtag"></i>Социальные сети</a>
        <a class="lng-rate burger__menu-link" href="/rating" target="_top"><i class="fas fa-hashtag"></i>Рейтинги и отзывы</a>
        
    </div>

    <div class="burger-hr">
        <a class="lng-buck burger__menu-link" href="/cart" target="_top"><i class="fas fa-shopping-cart"></i>Корзина</a>
        <a class="lng-subsc burger__menu-link" href="/subscription" target="_top"><i class="fas fa-sync"></i>Подписки</a>
        <a class="lng-history burger__menu-link" href="/history" target="_top"><i class="fas fa-history"></i>История заказов</a>
        <a class="lng-balance burger__menu-link" href="/addfunds" target="_top"><i class="far fa-credit-card"></i>Пополнить баланс</a>
        <a class="lng-promo burger__menu-link" href="/promocode" target="_top"><i class="fas fa-money-bill-wave"></i>Активировать промокод</a>
    </div>

    <div class="burger-hr">
        <a class="lng-partner burger__menu-link" target="_top" href="/partnership"><i class="fas fa-dollar-sign"></i>Партнерская программа</a>
        <a class="lng-free burger__menu-link" target="_top" href="/getfree"><i class="fas fa-hand-holding-usd"></i>Бесплатное продвижение</a>
    </div>
   
    <div class="burger-hr">
        <a class="lng-help burger__menu-link" target="_top" href="/support"><i class="fas fa-question"></i>Служба поддержки</a>
        <a class="lng-info burger__menu-link" target="_top" href="/info"><i class="far fa-file-alt"></i>Информация</a>
        <a class="lng-feedback burger__menu-link" target="_top" href="/reviews"><i class="far fa-comment-alt"></i>Отзывы</a>    
    </div>
    
    <div class="burger-hr">
        <a class="lng-instr burger__menu-link" target="_top" href="/tools"><i class="fas fa-wrench"></i>Инструменты</a>   
    </div>
    
    <div class="burger-hr">
        <a class="burger__menu-link" target="_top" href="/api"><i class="fas fa-terminal"></i>Public API</a>
        <a class="burger__menu-link" target="_top" href="/resell"><i class="fas fa-terminal"></i>Reseller API</a> 
    </div>
    
    <div class="burger-hr">
        <a class="lng-login burger__menu-link green-link" href="/login"><i class="fas fa-sign-in-alt"></i>Вход</a>
        <a class="lng-registr burger__menu-link green-link" href="/register"><i class="fas fa-sign-in-alt"></i>Регистрация</a>
    </div>
    
</div>
    </div>
    
    
    <header class="header">
        <div class="container">

        <div class="header__top">

                <div class="burger__openable" id="burger">
                    <div class="center-line"></div>
                </div>

                <div class="lng-home header__title hide1100max">
                    <h3 id="page_title">Регистрация</h3>
                </div>

<a class="logo" href="index.html">
                    <img src="/images/logo.svg" th:href="@{/images/logo.svg}" alt="">
                </a>

            <div class="header__op">

                <div class="header__balance">
                    <a class="lng-balance-rub header__balance-link header-btn" href="addfunds.html" target="_top">Баланс: <span>0 грн.</span> </a>
                </div>

                <div class="header__cart">
                    <a class="lng-buck header__cart-link header-btn" href="cart.html" target="_top">Корзина</a>
                </div>

            </div>

        </div>

    </div>
</header>

    <div class="blur-bg" id="blur">

        <div class="container">
            <div class="register__content">

                <form class="reg-form form" action="#" id="reg_form">
    
                    <div class="lng-reg-title form__title">Заполните данные для входа</div>
                    
                    <div class="form-group">
                        <input type="text" class="form-input" id="username_reg" name="username_reg" required>
                        <label class="lng-login form-label" for="username_reg">Логин*</label>
                        <div class="form-error">Необходимо заполнить пустое поле</div>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-input" id="email_reg" name="email_reg" required>
                        <label class="lng-email form-label" for="email_reg">Почта*</label>
                        <div class="form-error">Необходимо заполнить пустое поле</div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-input" id="password_reg" name="password_reg" required>
                        <label class="lng-password form-label" for="password_reg" >Пароль* <span class="password-span">(не менее 4 символов)</span></label>
                        <div class="form-error">Необходимо заполнить пустое поле</div>
                    </div>
    
                    <div class="form-group-check">

                        <label>
                          <input class="form-control form-checkbox _req" name="checkbox" type="checkbox" required>
                          <span class="form-checkstyle"></span>
                          <span class="lng-terms form-terms">Регистрируясь, Вы принимаете <a class="lng-rules form-terms_rules" href="https://ru.mrpopular.net/docs/ru_terms%20of%20service.zip">правила сервиса</a></span>
                        </label>
                        
                      </div>

                    <button class="lng-reg-btn form-btn" id="submit_reg">Зарегистрироваться</button>
    
                    <div class="register__login">
                        <p class="register__login-text">
                            У меня уже есть аккаунт,
                            <a class="register__login-link" href="/login">войти</a>
                        </p>
                    </div>
                      
                </form>
    
            </div>
        </div>

    </div>

<script src="js/script.min.js"></script>
</body>
</html>